body{
  background-color: #FFFFF7;
  
}
.forum{
  background-image: url('il_gozlemci_raporu-_1_.png');
  width: 815px;
  background-color: #6960EC;
  height: 1500px;

}
.carousel-item{
  display: flex;
  justify-content: center;
}
.card img{
  height: 300px;
}

.form-control{
  width: 300px;
}

#formmm{
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer{
  position: relative; bottom:0; margin: 0 auto;
  background-color: #6960EC;
  color: #FFFFF7;
  
  
}
.navbar{
  background-color: #6960EC;
}
#cards{
  display: flex;
}
@media only screen and (max-width: 600px) {
  #cards{
      display: grid;
      gap: 10px;
  }
}
